global
    log /dev/log local0
    maxconn 2048

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend web_front
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin
    option httpchk GET /api/health

    server vm1  192.168.56.11:80 check inter 2s backup weight 80
    server vm3  192.168.56.13:80 check inter 2s backup weight 20

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s